<!DOCTYPE html>
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);
        background-image: url('static/img/background.jpg');
        background-size: cover;

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
  </head>
  <body>
    <link rel="stylesheet" href="static/style.css" />
    <div>
      <link href="static/index.css" rel="stylesheet" />

      <div class="desktop11-container">
        <div class="desktop11-desktop1">
          <div class="desktop11-frame4">
            <div class="desktop11-group1">
              <div class="desktop11-frame1">
                <span class="desktop11-text"><span>about</span></span>
                <span class="desktop11-text002">
                  <span>forecasting techniques</span>
                </span>
                <span class="desktop11-text004">
                  <span>contact and helpline</span>
                </span>
                <span class="desktop11-text006"><span>archive</span></span>
                <span class="desktop11-text008"><span>platforms</span></span>
              </div>
              <img
                alt="Rectangle51673"
                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/6ba87558-c19f-4b36-9b1a-5ba9a8eb848a/6cee44f6-59e1-4d14-bed5-4cc1e6529531?org_if_sml=11072"
                class="desktop11-rectangle5"
              />
            </div>
          </div>
          <div class="desktop11-header">
            <img
              alt="logo1119"
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/6ba87558-c19f-4b36-9b1a-5ba9a8eb848a/f141330c-57b4-4864-92cb-4bfb2f80c61e?org_if_sml=19048"
              class="desktop11-logo1"
            />
            <span class="desktop11-text010">
              <span class="desktop11-text011">
                <span>AVALANCHE FORECASTER</span>
                <br />
                <span></span>
              </span>
              <span>
                <span>SAVING LIVES SINCE 2023</span>
                <br />
                <span></span>
              </span>
            </span>
            <img
              alt="logo1146"
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/6ba87558-c19f-4b36-9b1a-5ba9a8eb848a/9b1eef1a-f7ad-4be3-9add-4ac35a340015?org_if_sml=118096"
              class="desktop11-logo11"
            />
          </div>
          <div class="desktop11-infosection">
            <div class="desktop11-about">
              <span class="desktop11-text019">
                <span>
                  Avalanche forecaster forecastes avalanche strikes using a combination of
                  factors and artificial intelligence and save lives and damage
                  loss caused by this strikes.As a user of our application you
                  can use our application to access your location and following
                  inputs from our data collectors,we enable you with the power
                  to foresee the chances of an avalanche occurring.
                </span>
              </span>
              <span class="desktop11-text021"><span>About</span></span>
            </div>
            <div class="desktop11-forecastingtechniques">
              <span class="desktop11-text023">
                <span>
                  Disaster management is a critical use case and as responsible
                  innovators we aim to use a number of calculations and
                  techniques which includes a number of geographical information
                  collected from our highly reliable and accurate sensors and
                  satellites.After collecting these information in a secure
                  encrypted way,it is given as input to our state of the art
                  artificial Intelligence model which not only forecasts these
                  parameters for the future but also classifies whether a
                  avalanche might or might not happen for that day with a
                  probability value.
                </span>
              </span>
              <span class="desktop11-text025">
                <span>Forecasting Techniques</span>
              </span>
            </div>
            <div class="desktop11-contactand-helpline">
              <span class="desktop11-text027">
                <span class="desktop11-text028">
                  <span>
                    Our communication and support team is live 24X7 for
                    queries,support and complaints.Below are the numbers for
                    contacting the respective departments in our organization.
                  </span>
                  <br />
                  <span></span>
                  <br />
                  <span>For complaints contact:</span>
                </span>
                <span class="desktop11-text034">
                  <span>1234567890</span>
                  <br />
                  <span></span>
                </span>
                <span class="desktop11-text038">
                  <span></span>
                  <br />
                  <span>
                    For support or application related issues contact:
                  </span>
                </span>
                <span class="desktop11-text042">
                  <span>2345678901</span>
                  <br />
                  <span></span>
                </span>
                <span class="desktop11-text046">
                  <span></span>
                  <br />
                  <span>For employment and job opportunities contact:</span>
                </span>
                <span class="desktop11-text050">
                  <span>3456789012</span>
                  <br />
                  <span></span>
                </span>
                <span class="desktop11-text054">
                  <span></span>
                  <br />
                  <span>Mail Id:</span>
                </span>
                <span class="desktop11-text058">
                  <span>avalancheforecaster@forecaster.ac.in</span>
                  <br />
                  <span></span>
                  <br />
                  <span></span>
                </span>
              </span>
              <span class="desktop11-text064">
                <span>Contact and Helpline</span>
              </span>
            </div>
            <div class="desktop11-archive">
              <span class="desktop11-text066">
                <span class="desktop11-text067">
                  To download the previous avalanche analysis reports
                </span>
                <span>click here</span>
              </span>
              <span class="desktop11-text069"><span>Archive</span></span>
            </div>
            <div class="desktop11-platforms">
              <span class="desktop11-text071"><span>Platforms</span></span>
              <span class="desktop11-text073">
                <span class="desktop11-text074">
                  The application is currently a web application which runs on
                  google chrome.safari,edge and microsoft.Rest assured our team
                  is working to release this as an android and IOS
                  application.In case you are not able to access the application
                  in your browser,
                </span>
                <span>contact and helpline</span>
              </span>
            </div>
          </div>
          <span class="desktop11-text076">
            <span class="desktop11-text077">
              <span>FORECASTED PARAMETERS!</span>
              <br />
              <span></span>
            </span>
            <span class="desktop11-text081">
              <span></span>
              <br />
              <span></span>
            </span>
            <span>
              TEMEPERATURE:30*C SNOWFALL:12cm HUMIDITY:40% SNOW DEPTH:14cm
              MOISTURE:50%
            </span>
          </span>
          <span class="desktop11-text086">
            <span class="desktop11-text087">

              <span style="{% if prediction_index == 0 %}color:green;{% elif prediction_index == 1 %}color:yellow;{% elif prediction_index == 2 %}color:red;{% endif %};">
                THERE IS A {{ prediction_text }}
            </span>
            </span>
            
            
              <br />
              <span></span>
            </span>
            <span>
              <span></span>
              <br />
              <span></span>
            </span>
          </span>
          <img
            alt="disclaimer11261"
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/6ba87558-c19f-4b36-9b1a-5ba9a8eb848a/38cd1578-5869-4c3d-85b1-23f1891f22f5?org_if_sml=17611"
            class="desktop11-disclaimer1"
          />
          <span class="desktop11-text096">
            <span>
              While our AI system and sensors strive the best to predict
              upcoming forecast,the website has a very small chance of
              predicting incorrect information.Avalanche Forecast is not in any
              way eligible for legal actions and loss of life due to user
              negligence.
            </span>
          </span>
          <img
            alt="Rectangle41672"
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/6ba87558-c19f-4b36-9b1a-5ba9a8eb848a/9fe624af-8af6-4bee-babb-633170e92c27?org_if_sml=1893"
            class="desktop11-rectangle4"
          />
          <div class="desktop11-group9">
            <img
              alt="Rectangle31466"
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/6ba87558-c19f-4b36-9b1a-5ba9a8eb848a/5326fd9c-b1c2-4d47-b1cb-f4db10a52595?org_if_sml=11057"
              class="desktop11-rectangle3"
            />
            <span class="desktop11-text098">
              <span>
                <span>follow us</span>
                <br />
                <span>on socials</span>
              </span>
            </span>
            <img
              alt="image211668"
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/6ba87558-c19f-4b36-9b1a-5ba9a8eb848a/dacd4591-64f0-405c-9800-03dbbab91ef7?org_if_sml=15152"
              class="desktop11-image21"
            />
            <img
              alt="image311669"
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/6ba87558-c19f-4b36-9b1a-5ba9a8eb848a/e7a0d5a2-b172-410f-8b32-a738c58801b0?org_if_sml=12794"
              class="desktop11-image31"
            />
            <img
              alt="image411670"
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/6ba87558-c19f-4b36-9b1a-5ba9a8eb848a/24d60e86-80d2-4ad8-8020-9c5d7cdf8372?org_if_sml=12462"
              class="desktop11-image41"
            />
          </div>
          <img
            alt="image511676"
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/6ba87558-c19f-4b36-9b1a-5ba9a8eb848a/b721b14a-ad0d-4241-ac21-0b2698eb16e1?org_if_sml=131256"
            class="desktop11-image51"
          />
          <img
            alt="Rectangle61679"
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/6ba87558-c19f-4b36-9b1a-5ba9a8eb848a/c3d3a6b1-2dad-4284-beaa-03363aa1f636?org_if_sml=11257"
            class="desktop11-rectangle6"
          />
          <span class="desktop11-text103">
            <span class="desktop11-text104">
              <span>Forecasting</span>
              <br />
              <span>
                analysis of avalanche.Here you can see the recent trends in your
                locality
              </span>
              <br />
              <span></span>
            </span>
            <span>
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
            </span>
          </span>
          <img
            alt="image611678"
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/6ba87558-c19f-4b36-9b1a-5ba9a8eb848a/ad68dd63-e1d4-44bc-93f5-825f6d2e0bc6?org_if_sml=11886"
            class="desktop11-image61"
          />
        </div>
      </div>
    </div>
  </body>
</html>
